<div class="ui-g" [formGroup]="sysUserForm">
    
    <input type="hidden" formControlName="id"/>

    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4">
            {{bindLabel}} :
        </div>
        <div class="ui-g-8">
            <p-inputSwitch formControlName="bind" onLabel="Да" offLabel="Нет"></p-inputSwitch>
        </div>
    </div>
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4">
            Логин <span *ngIf="requireCredentialsValidation">*</span>:
        </div>
        <div class="ui-g-8">
            <input pInputText type="text" formControlName="login" class="w100p" />
        </div>
    </div>
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4">
            Роль <span *ngIf="requireCredentialsValidation">*</span>:
        </div>
        <div class="ui-g-8">
            <p-dropdown formControlName="role" [options]="roles" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-4">
            Пароль <span *ngIf="requirePasswordValidation">*</span>:
        </div>
        <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-5">
                <input type="password" pPassword formControlName="password" placeholder="Пароль" class="w100p" />
            </div>
            <div class="ui-g-1">
            </div>
            <div class="ui-g-3">
                Заблокирован :
            </div>
            <div class="ui-g-3">
                <p-inputSwitch formControlName="locked" onLabel="Да" offLabel="Нет"></p-inputSwitch>
            </div>
        </div>
    </div>
</div>