<form [formGroup]="elementform" (ngSubmit)="save(elementform.value)">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-widget-content">
        
        <div class="ui-grid-row inputw100p">
            <div class="ui-grid-col-12">
                <input type="text" pInputText formControlName="name" placeholder="Название"  />   
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                Изображение :
                <div>
                    <small>(макс. размер - 1024 x 1024)</small>
                </div>
            </div>
        </div>
        <div class="ui-grid-row inputw100p">
            <div class="ui-grid-col-12">
                <p-fileUpload #fileUpload chooseLabel="Выбрать" accept="image/*" maxFileSize="1000000" previewWidth="48" >
                </p-fileUpload>
                <div class="ui-fileupload-content ui-widget-content ui-corner-bottom" ng-reflect-ng-class="[object Object]">
                    
                    <div class="ui-fileupload-files">
                    
                        <div>
                            <div class="ui-fileupload-row">
                                <div>
                                    <img src="http://localhost:64346/c59dbaa7-41b2-4fec-8847-1852104220e0" width="48">
                                </div>
                                <div>server_directory_green.png</div>
                                <div>2.813 KB</div>
                                <div><button icon="fa-close" pbutton="" type="button" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-c fa fa-fw fa-close"></span><span class="ui-button-text ui-c">ui-button</span></button></div>
                            </div>
                        </div>
                    
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                Реальная высота, м :
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-spinner formControlName="height" [min]="1"></p-spinner>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                Реальная ширина, м :
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <p-spinner formControlName="width" [min]="1"></p-spinner>
            </div>
        </div>
        <hr class="ui-widget-content" style="border:0">
        <div class="ui-grid-row inputw100p">
            <div class="ui-grid-col-12">
                <button pButton type="submit" label="Сохранить" icon="fa-floppy-o" [disabled]="!(elementform.valid && fileUpload.files.length > 0)"></button>
            </div>
        </div>
    </div>
</form>
