.inputw100p form button, .inputw100p form input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.ui-fileupload-buttonbar button:not(:first-child) {
    display: none;
}

.ui-fileupload-content {
    padding: 0;
}

.ui-fileupload-row div:not(:first-child) {
    display: none;
}
