.inputw100p button, .inputw100p input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.ui-fileupload-buttonbar button:not(:first-child) {
    display: none;
}

.hidden .ui-fileupload-content {
    display: none;
}

.ui-fileupload-row div:not(:first-child) {
    display: none;
}
