.ui-fileupload-buttonbar button:not(:first-child) {
    display: none;
}

.ui-spinner .ui-inputtext {
    width: 100%;    
}

.hidden .ui-fileupload-content {
    display: none;
}

.ui-fileupload-row div:not(:first-child) {
    display: none;
}
