<div style="position: absolute; height: 100%; width: 1200px">
    <div class="ui-g" style="height: 100%">
        <div class="ui-g-2 ui-g-nopad">l</div>
        <div class="ui-g-9 ui-g-nopad">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="New" icon="fa-plus"></button>
                    <button pButton type="button" label="Open" icon="fa-folder-open"></button>

                    <i class="fa fa-bars"></i>

                    <p-splitButton label="Save" icon="fa-check" [model]="items"></p-splitButton>
                </div>

                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="fa-search"></button>
                    <i class="fa fa-bars"></i>
                    <button pButton type="button" icon="fa-refresh"></button>
                    <button pButton type="button" icon="fa-trash"></button>
                </div>
            </p-toolbar>
        </div>
        <div class="ui-g-nopad" style="width: 39px">r</div>
    </div>
</div>