<div style="position: absolute; height: 600px; width: 1200px">
    <vertical-split-pane primary-component-minsize="100" primary-component-initialratio="0.2" secondary-component-minsize="300" separator-thickness="6">
        <div class="split-pane-content-primary">
            <div class="w100">
                <p-autoComplete [styleClass]="'w100'" [inputStyleClass]="'w100'" placeholder="Поиск по каталогу"></p-autoComplete>
            </div>
            <p-toolbar [styleClass]="'p0'">
                <button pButton type="button" icon="fa-home"></button><button pButton type="button" icon="fa-undo"></button><button pButton type="button" icon="fa-th-large"></button><button pButton type="button" icon="fa-th"></button>
            </p-toolbar>
        </div>
        <div class="split-pane-content-secondary">
            <p-toolbar>
                <div class="ui-toolbar-group-left">
                    <button pButton type="button" label="New" icon="fa-plus"></button>
                    <button pButton type="button" label="Open" icon="fa-folder-open"></button>

                    <i class="fa fa-bars"></i>

                    <p-splitButton label="Save" icon="fa-check" ></p-splitButton>
                </div>

                <div class="ui-toolbar-group-right">
                    <button pButton type="button" icon="fa-search"></button>
                    <i class="fa fa-bars"></i>
                    <button pButton type="button" icon="fa-refresh"></button>
                    <button pButton type="button" icon="fa-trash"></button>
                </div>
            </p-toolbar>
        </div>
    </vertical-split-pane>
</div>