<p-dialog header="Назначить" [(visible)]="visible" modal="modal" minHeight="420" minWidth="300" width="400" dismissableMask="true" [responsive]="true" (onHide)="onHide()">
    <form [formGroup]="appointmentForm" (ngSubmit)="save($event, appointmentForm.value)">
        <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-6" style="padding: .5em 0">
                    Длительность :
                </div>
                <div class="ui-g-6 ui-g-nopad">
                    <p-calendar formControlName="duration" [timeOnly]="true" [inputStyle]="{'width': '100%'}" [style]="{'width': '100%'}"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12" style="padding: .5em 0">
                <p-dropdown [options]="halls" formControlName="hallId" placeholder="Выберите холл" [style]="{'width':'100%'}"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <p-calendar [inline]="true" formControlName="start" [locale]="locale" [style]="{'width':'100%'}"></p-calendar>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="visible=false" label="Отмена"></button>
                <button type="submit" pButton icon="fa-check" label="ОК" [disabled]="!appointmentForm.valid"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>