<div style="position: absolute; left: -200px; height: 600px; width: 1400px">
    <form [formGroup]="conferenceForm" (ngSubmit)="save($event, conferenceForm.value)">
        <input type="hidden" formControlName="id" />

        <p-tabView>
            <p-tabPanel header="Совещание" id="tabConference">
                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                    <div class="ui-widget-header" style="padding: .5em .75em">
                        <button pButton type="submit" label="Сохранить" icon="fa-floppy-o"></button>
                    </div>
                    <hr class="ui-widget-content" style="border-top:0">

                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <div class="ui-grid-col-4">
                                Тема :
                            </div>
                            <div class="ui-grid-col-8">
                                <input formControlName="subject" type="text" pInputText style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <div class="ui-grid-col-4">
                                Описание :
                            </div>
                            <div class="ui-grid-col-8">
                                <textarea formControlName="description" pInputTextarea style="width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <div class="ui-grid-col-4">
                                Конференц-холл :
                            </div>
                            <div class="ui-grid-col-8">
                                <input type="text" pInputText style="width: 100%;" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-7">
                            <div class="ui-grid-col-4">
                                Тип совещания :
                            </div>
                            <div class="ui-grid-col-8">
                                <p-dropdown #typeConference [options]="confTypes"></p-dropdown>
                            </div>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="Участники" id="tabMember" *ngIf="confId && confId > 0">
            </p-tabPanel>
            <p-tabPanel header="Сообщения" id="tabMessage" *ngIf="confId && confId > 0">
            </p-tabPanel>
        </p-tabView>



    </form>
</div>



