<div style="position: absolute; left: -200px; height: 600px; width: 1400px">
            
    <form [formGroup]="conferenceForm" (ngSubmit)="save($event, conferenceForm.value)">

        <div class="ui-widget-header" style="padding: .5em .75em">
            <button pButton type="submit" label="Сохранить" icon="fa-floppy-o" [disabled]="!conferenceForm.valid"></button>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" label="Отправить уведомление" icon="fa-envelope-o"></button>
            </div>
        </div>
        <hr class="ui-widget-content" style="border-top: 0">

        <input type="hidden" formControlName="id" (ngModelChange)="idChange($event)" />
        
        <p-accordion [multiple]="true" styleClass="computed">
            <p-accordionTab header="Конференция" [selected]="true">
                
                <div class="ui-g">
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            Тема *:
                        </div>
                        <div class="ui-g-8">
                            <input pInputText type="text" formControlName="subject" class="w100p" />
                        </div>
                    </div>
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            Описание :
                        </div>
                        <div class="ui-g-8">
                            <textarea pInputTextarea formControlName="description" rows="6"  class="w100p"></textarea>
                        </div>
                    </div>
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            Статус :
                        </div>
                        <div class="ui-g-8">
                            <p-dropdown formControlName="confState" [options]="states" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            Холл <span *ngIf="requireValidation">*</span>:
                        </div>
                        <div class="ui-g-8">
                            <p-dropdown formControlName="hallId" [options]="halls" placeholder="Выберите холл" (ngModelChange)="hallChange($event)" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            Схема <span *ngIf="requireValidation">*</span>:
                        </div>
                        <div class="ui-g-8">
                            <p-dropdown formControlName="schemeId" [options]="schemes" placeholder="Выберите схему" (ngModelChange)="schemeChange($event)" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
            
            <p-accordionTab header="Период">
                <div class="ui-g">
                    <div class="ui-g-8 ui-g-nopad">
                        <div class="ui-g-4">
                            <div class="ui-g-6">
                                Начало <span *ngIf="requireValidation">*</span>:
                            </div>
                            <div class="ui-g-6">
                                <p-calendar formControlName="startDate" dateFormat="dd.mm.yy" [showTime]="true" [locale]="locale"></p-calendar>    
                            </div>
                        </div>
                        <div class="ui-g-2"></div>
                        <div class="ui-g-4">
                            <div class="ui-g-6">
                                Окончание <span *ngIf="requireValidation">*</span>:
                            </div>
                            <div class="ui-g-6">
                                <p-calendar formControlName="endDate" dateFormat="dd.mm.yy" [showTime]="true" [locale]="locale"></p-calendar>    
                            </div>
                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Участники" >
                <div class="ui-g-12 ui-g-nopad h100p">
                    <div class="ui-g-4 ui-md-4 ui-widget-content ui-g-nopad h100p">
                        <member-table [members]="members"></member-table>
                    </div>
                    <div class="ui-g-1 ui-md-1 h100p" style="display: table">  
                        <div class="ui-picklist-buttons">
                            <button pButton type="button" icon="fa-angle-left" class="w100p" (click)="moveToTarget()" [disabled]="selectedOrganizationIds.length === 0 && selectedEmployeeIds.length === 0"></button>
                            <button pButton type="button" icon="fa-angle-double-left" class="w100p" (click)="moveAllToTarget()" ></button>
                            <button pButton type="button" icon="fa-angle-right" class="w100p" (click)="moveToSource()"></button>
                            <button pButton type="button" icon="fa-angle-double-right" class="w100p" (click)="moveAllToSource()"></button>
                        </div>
                    </div>
                    <div class="ui-g-7 ui-md-7 ui-widget-content ui-g-nopad h100p">
                        <organization-tree [emplSearch]="true" [readOnly]="true" (selectionChanged)="employeeTreeChanged($event)"></organization-tree>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Схема">
                <div class="ui-g-12 ui-g-nopad h100p" >
                    <div class="ui-g-4 ui-md-4 ui-widget-content ui-g-nopad h100p">
                        <member-table [members]="memebrs"></member-table>
                    </div>                    
                    <div class="ui-g-8 ui-md-8 ui-widget-content ui-g-nopad h100p">
                        <scheme-main [schemeId]="schemeId"></scheme-main>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Сообщения">
            </p-accordionTab>
        </p-accordion>
    </form>

</div>