<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row" [ngStyle]="{'padding': '0 0 0.5em'}">
        <div class="ui-grid-col-12">
            <input type="text" pInputText placeholder="Поиск" [ngModel]="filter" (ngModelChange)="filterChange($event)" [ngClass]="'w100p'" (keypress)="filterKeyPressed($event)" />
        </div>
    </div>
</div>
<p-dataList [value]="members">
    <ng-template let-member pTemplate="item">
        <div class="ui-grid ui-grid-responsive ui-widget-content">
            <div class="ui-grid-row" [ngStyle]="{'padding': '0.5em'}">
                <div class="ui-grid-col-2">
                    <i class="fa fa-2x {{member.selected ? 'fa-check-square-o' : 'fa-square-o'}}" (click)="selectMember(member)"></i>
                </div>
                <div class="ui-grid-col-11">
                    <div>{{member.name}}</div>
                    <small>{{member.jobTitle}}</small>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataList>
