<p-toolbar *ngIf="!conferenceId">
    <div class="ui-g">
        <div class="ui-g-8 ui-g-nopad">
            <input type="text" pInputText placeholder="Поиск" [ngModel]="filter" [ngClass]="'w100p'"  (ngModelChange)="filterChange($event)" (keypress)="filterKeyPressed($event)"/>
        </div>        
        <div class="ui-g-4 ui-g-nopad">
            <div class="ui-toolbar-group-right">
                <button type="button" pButton icon="fa-plus" style="float: left" label="Добавить" (click)="addMember()"></button>
            </div>
        </div>
    </div>
</p-toolbar>
<p-dataTable [value]="members" [rows]="10" [paginator]="true">
    <p-column header="№" *ngIf="!conferenceId" [style]="{'width':'50px'}">
        <ng-template let-ix="rowIndex" pTemplate="body">
            {{ix + 1}}
        </ng-template>
    </p-column>
    <p-column field="lockedInt" styleClass="col-button" [style]="{'width':'50px'}" *ngIf="!conferenceId">
        <ng-template let-member="rowData" pTemplate="body">
            <i class="{{member.lockedInt==0?'fa fa-unlock-alt':'fa fa-lock'}}"></i>
        </ng-template>
    </p-column>

    <p-column field="name" header="ФИО"></p-column>
    <p-column field="jobTitle" header="Должность"></p-column>
    <p-column header="Организация"></p-column>
    <p-column field="seat" header="Место" *ngIf="conferenceId" [style]="{ 'text-align': 'center', 'vertical-align': 'middle', 'width': '15%'}">
        <ng-template let-member="rowData" pTemplate="body">
            <span class="fa-stack circle {{member.memberState === MemberState.Confirmed ? 'on' : 'off'}}" >
                <strong class="fa-stack-1x">{{member.seat}}</strong>
            </span>
        </ng-template>
    </p-column>
    <p-column field="role" header="Роль" *ngIf="!conferenceId"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'50px'}" *ngIf="!conferenceId">
        <ng-template let-member="rowData" pTemplate="body">
            <i class="fa fa-trash-o" (click)="removeMember(member.id, member.name)" style="cursor: pointer;" title="Удалить"></i>
        </ng-template>
    </p-column>
</p-dataTable>