.screen .circle {
    -ms-border-radius: 50%;
    border: 2px solid blue;
    border-radius: 15%;
    color: blue;
}

.on {
    background-color: rgba(0, 255, 0, 0.9);
}

.screen .ui-datatable-data > tr > td {
    border-width: 0 !important;
}
