.font_1 {
    font-size: 1.5em;
    font-weight: 600
}

.carousel .ui-grid-row {
    text-align: center;
}

.carousel .ui-carousel-button, .carousel .ui-carousel-page-links {
    font-size: 2em;
}

.carousel .ui-carousel-dropdown {
    font-size: 2em !important;
}