<p-toolbar>
    <button pButton type="button" icon="fa-chevron-left" (click)="addDays(-1)"></button><button pButton type="button" icon="fa-chevron-right" (click)="addDays(1)"></button>
    <h3 style="display: inline-block">{{activeDate | date:'dd.MM.yyyy'}}</h3>
</p-toolbar>

<p-carousel [value]="screens" [firstVisible]="firstVisible" numVisible="5" styleClass="carousel">

    <ng-template let-screen pTemplate="item">
        
        <div class="ui-g">
            <div class="ui-g-12 center" style="height: 120px">
                <h2>{{screen.subject}}</h2>
            </div>
            <div class="ui-g-4">
                Холл :    
            </div>
            <div class="ui-g-8" style="height: 72px">
                {{screen.hall}}
            </div>
            <div class="ui-g-4">
                Состояние :
            </div>
            <div class="ui-g-8">
                {{ConfState.toName(screen.state)}}
            </div>
            <div class="ui-g-4">
                Начало :
            </div>
            <div class="ui-g-8">
                {{screen.startDate | date:'HH:mm'}}
            </div>
            <div class="ui-g-4">
                Окончание :
            </div>
            <div class="ui-g-8">
                {{screen.endDate | date:'HH:mm'}}
            </div>
            <div class="ui-g-12 center">
                <button type="button" pButton icon="fa-info" label="Подробнее" [routerLink]="['/conferences', screen.id]"></button>
                <button type="button" pButton icon="fa-desktop" [routerLink]="['/screens', screen.id]"></button>
            </div>
        </div>
       
    </ng-template>

</p-carousel>
