.font2 { font-size: 1.5em; font-weight: bold} 

.h60 { height: 60px }

.h72 { height: 72px }

.ellipsys {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.bggreen {
    background-color: rgba(0, 180, 115, 1)
}

.bgred {
    background-color: rgba(240, 60, 70, 1);
}

.logo {
    background: url(/assets/logo_tn.png) 1em center / contain no-repeat;
}