<div style="position: absolute; left: -200px; height: 600px; width: 1400px">
    <div #wrapper class="ui-g h100p">
        <div #header class="ui-g-12 h40 ui-g-nopad">
            <div class="ui-g ui-widget-content">
                <div class="ui-g-2 ui-md-2">
                    {{period?.lowerBound | date:'HH:mm'}} - {{period?.upperBound | date: 'HH:mm'}}
                </div>
                <div class="ui-g-8 ui-md-8">
                    {{subject}}
                </div>
                <div class="ui-g-2 ui-md-2">
                    <div class="ui-toolbar-group-right">
                        {{now | date:'dd.MM.yyyy HH:mm:ss'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-4 ui-md-4 ui-widget-content ui-g-nopad">
            Участники
        </div>
        <div class="ui-g-8 ui-md-8 ui-widget-content">
            <div #canvasBox></div>
        </div>
        <div #footer class="ui-g-12 h40 ui-g-nopad">
            <div class="ui-g ui-widget-content">
                <div class="ui-g-12 ui-md-12">
                    {{ticker}}&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>