<p-carousel [value]="screens" numVisible="5" styleClass="carousel">
    
    <ng-template let-screen pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12" style="height: 120px">
                    <h2>{{screen.subject}}</h2>
                </div>
            </div>
            <div class="ui-grid-row" style="height: 72px">
                <div class="ui-grid-col-6">Холл :</div>
                <div class="ui-grid-col-6">{{screen.hall}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">&nbsp;</div>
            </div>
            <div class="ui-grid-row" style="height: 72px">
                <div class="ui-grid-col-6">Состояние :</div>
                <div class="ui-grid-col-6">{{ConfState.toName(screen.state)}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">&nbsp;</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">Начало : </div>
                <div class="ui-grid-col-6">{{screen.startDate | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">&nbsp;</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">Окончание : </div>
                <div class="ui-grid-col-6">{{screen.endDate | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">&nbsp;</div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <button type="button" pButton icon="fa-info" label="Подробнее" [routerLink]="['/conferences', screen.id]"></button>
                    <button type="button" pButton icon="fa-desktop" [routerLink]="['/screens', screen.id]"></button>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">&nbsp;</div>
            </div>
        </div>
    </ng-template>

</p-carousel>