<div class="ui-g ui-g-nopad">
    <div class="ui-g  img1 w100p">
        <div class="ui-xl-3 ui-lg-2 ui-g-0">
        </div>
        <div class="ui-xl-6 ui-lg-8 ui-g-12">
            <div class="ui-g-12 pt350">
                <div class="ui-g-4 ui-sm-12">
                    <div class="ui-g bcolor_22">
                        <div class="ui-g-12">
                            <h6 class="color_11 font_6 ui-g-12"><a class="color_11" [routerLink]="['/schedule']">Совещания</a></h6>
                            <div class="ui-g-12 h100">
                                <p class="color_11 font_8">
                                    Здесь выводится список совещаний.
                                </p>
                            </div>
                        </div>
                        <div class="ui-g-12 cpointer">
                            <div class="ui-g-12 bcolor_2 h41 w107">
                                <a [routerLink]="['/schedule']">
                                    <span class="color_11 font_9">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <div class="ui-g bcolor_24">
                        <div class="ui-g-12">
                            <h6 class="color_11 font_6 ui-g-12"><a class="color_11" [routerLink]="['/orgs']">Cотрудники</a></h6>
                            <div class="ui-g-12 h100">
                                <p class="color_11 font_8">
                                    Здесь выводится список организаций и сотрудников.
                                </p>
                            </div>
                        </div>
                        <div class="ui-g-12 cpointer">
                            <div class="ui-g-12 bcolor_2 h41 w107">
                                <a [routerLink]="['/orgs']">
                                    <span class="color_11 font_9">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-4 ui-sm-12">
                    <div class="ui-g bcolor_25">
                        <div class="ui-g-12">
                            <h6 class="color_11 font_6 ui-g-12"><a class="color_11" [routerLink]="['/halls']">Редактор</a></h6>
                            <div class="ui-g-12 h100">
                                <p class="color_11 font_8">
                                    Редактор-холл.
                                </p>
                            </div>
                        </div>
                        <div class="ui-g-12 cpointer">
                            <div class="s23 ui-g-12 bcolor_2 h41 w107">
                                <a [routerLink]="['/halls']">
                                    <span class="color_11 font_9">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-xl-3 ui-lg-2 ui-g-0">
        </div>
    </div>
</div>
