<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <p-panel #pnl [style]="{'border': 'none'}">
                <div class="ui-g">
                    <div class="ui-xl-2 ui-g-nopad"></div>
                    <div class="ui-xl-8 ui-g-12 ui-g-nopad">
                        <form [formGroup]="loginForm" (ngSubmit)="authenticate($event, loginForm.value)">
                            <div class="font_6 center ui-g-12">
                                Войти в систему
                            </div>
                            <div class="ui-g-12">
                                <input type="text" pInputText formControlName="login" placeholder="Логин" />
                            </div>
                            <div class="ui-g-12">
                                <input type="password" pPassword formControlName="password" [feedback]="false" placeholder="Пароль" />
                            </div>
                            <div class="ui-g-12">
                                <button pButton type="submit" label="Войти" icon="ui-icon-person" [disabled]="!loginForm.valid"></button>
                            </div>
                        </form>
                    </div>
                    <div class="ui-xl-2 ui-g-nopad"></div>
                </div>
            </p-panel>
            </div>
        <div class="ui-g-4"></div>
    </div>
</div>
<p-blockUI [blocked]="loading" [target]="pnl">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="position:absolute; top:40%; left:45%"></i>
</p-blockUI>