<p-dataTable dataKey="id" [editable]="true" [value]="contacts" [rows]="10" styleClass="no-header" selectionMode="{{editMode ? 'multiple' : ''}}" [(selection)]="selectedContacts">
    <p-header>
        <div class="ui-g">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-toolbar-group-right">
                    <p-toggleButton onIcon="fa fa-ban" onLabel="Готово" offIcon="fa fa-pencil" offLabel="Правка" (onChange)="changeEditMode()"></p-toggleButton>
                </div>
            </div>
        </div>
    </p-header>
    <p-footer>
        
        <form [formGroup]="contactForm" (ngSubmit)="addContact(contactForm.value)">
            <div class="ui-g">
                <div class="ui-g-2 ui-g-nopad">
                    <div class="ui-toolbar-group-left">
                        <button type="button" pButton icon="fa-trash" title="Удалить" [disabled]="this.selectedContacts.length === 0" *ngIf="editMode" (click)="removeRows()"></button>
                    </div>
                </div>
                <div class="ui-g-2 ui-g-nopad">
                    <p-dropdown formControlName="kind" [options]="senders" [autoWidth]="false"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-g-nopad">
                    <input pInputText type="text" formControlName="address" class="w100p"/>
                </div>
                <div class="ui-g-2 ui-g-nopad">
                    <div class="ui-toolbar-group-right">
                        <button type="submit" pButton icon="fa-plus" title="Добавить контакт" [disabled]="!contactForm.valid"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-footer>
    <p-column selectionMode="multiple" [style]="{ 'width':'60px'}" [styleClass]="'center'" *ngIf="editMode"></p-column>
    <p-column field="kind" [editable]="true" [style]="{'overflow':'visible'}">
        <ng-template let-col let-contact="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="contact[col.field]" [options]="senders" [autoWidth]="false" (onChange)="changeKind($event, contact)"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="address" [editable]="true">
        <ng-template let-col let-contact="rowData" pTemplate="editor">
            <input type="text" pInputText [ngModel]="contact.address" class="w100p" (blur)="changeAddress($event, contact)"/>
        </ng-template>
    </p-column>
    <p-column field="active" [style]="{'text-align': 'center', 'width': '15%'}">
        <ng-template let-contact="rowData" pTemplate="body">
            <p-inputSwitch onLabel="Вкл" offLabel="Откл" [ngModel]="contact.active" (onChange)="changeActive($event, contact)"></p-inputSwitch>
        </ng-template>
    </p-column>
</p-dataTable>