<div #wrapper class="h100p">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <input type="text" pInputText placeholder="Поиск по каталогу" [ngModel]="filter" (ngModelChange)="filterChange($event)" [ngClass]="'w100p'" [ngStyle]="{'box-sizing':'border-box'}" (keypress)="filterKeyPressed($event)" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" [ngStyle]="{'padding-top':0, 'padding-bottom':0}">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" icon="fa-home" (click)="homeButtonClick()"></button><button pButton type="button" icon="fa-th-large" title="Сетка" (click)="toggleGridView(false)" *ngIf="gridButtonsVisible"></button><button pButton type="button" icon="fa-list" title="Список" (click)="toggleGridView(true)" *ngIf="gridButtonsVisible"></button>
                        <div ></div>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="fa-bars" (click)="toggleMenu($event)"></button>
                        <p-menu #menu popup="popup" [model]="menuItems" appendTo="body"></p-menu>
                    </div>
                </p-toolbar>
                <div #menuToggler (click)="menu.toggle($event)"></div>
                <div  [ngStyle]="{'font-weight':'bold', 'padding':'.25em .5em'}" >&nbsp;{{header}}</div>
            </div>
        </div>
    </div>
    <div #content [ngStyle]="{'padding':'.25em .5em'}">
        <router-outlet></router-outlet>
    </div>
</div>