<div #wrapper class="h100p">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <input type="text" pInputText placeholder="Поиск по каталогу" [ngModel]="filter" (ngModelChange)="filterChange($event)" [ngClass]="'w100p'" [ngStyle]="{'box-sizing':'border-box'}" (keypress)="filterKeyPressed($event)" />
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" [ngStyle]="{'padding-top':0, 'padding-bottom':0}">
                <p-toolbar>
                    <div class="ui-toolbar-group-left">
                        <button pButton type="button" icon="fa-arrow-left" title="Назад" (click)="backButtonClick()"></button><button pButton type="button" icon="fa-th-large" title="Ряд" (click)="smallGrid=true"></button><button pButton type="button" icon="fa-th" title="Сетка" (click)="smallGrid=true"></button>
                    </div>
                    <div class="ui-toolbar-group-right">
                        <button pButton type="button" icon="fa-bars" (click)="menu.toggle($event)"></button>
                    </div>
                </p-toolbar>
                <p-menu #menu popup="popup"></p-menu>
                <div [ngStyle]="{'font-weight':'bold', 'padding':'.25em .5em'}">&nbsp;{{header}}</div>
            </div>
        </div>
    </div>
    <div #content [ngStyle]="{'padding':'.25em .5em'}">
        <router-outlet></router-outlet>
    </div>
</div>