<div style="position: absolute; left: -200px; height: 600px; width: 1400px">
    <p-dataGrid [value]="halls" [rows]="2">
        <p-header>
            Halls
        </p-header>
        <ng-template let-hall pTemplate="item">
            <div style="padding:3px" class="ui-g-8 ui-md-2">
                <p-panel [style]="{'text-align':'center'}">
                    <p-header>
                        <div class="hall-header">
                            {{hall.name}}
                        </div>
                        <i *ngIf="hall.id" class="fa fa-trash ui-panel-titlebar-remove" [ngStyle]="{'cursor':'pointer'}" (click)="removeHall(hall.id, hall.name)" title="Удалить"></i>
                    </p-header>

                    <a [routerLink]="['/hall', hall.id]">
                        <img src="/assets/office_64x64.png">
                        <div class="hall-detail">
                            {{hall.description}}
                        </div>
                        <i>{{hall.id ? hall.area() : '&nbsp;'}}</i>
                    </a>
                </p-panel>
            </div>
        </ng-template>
    </p-dataGrid>
</div>
