<div id="SITE_CONTAINER">
    <div class="noop">
        <div id="SITE_BACKGROUND"></div>
        <div id="SITE_ROOT" class="SITE_ROOT" style="width:980px;">
            <div id="masterPage" style="width: 980px; position: static; top: 0px; height: 1912px;">
                
                <div id="SITE_HEADER" style="position: absolute; width: 980px; top: 0px; height: 186px; left: 0px;" class="s0">
                    <div id="SITE_HEADERscreenWidthBackground" class="s0screenWidthBackground" style="width: 1903px; left: -462px;">
                        <div class="s0_bg"></div>
                    </div>
                    <div id="SITE_HEADERcenteredContent" class="s0centeredContent">
                        <div id="SITE_HEADERbg" class="s0bg"></div>
                        <div id="SITE_HEADERinlineContent" class="s0inlineContent">
                            <div style="width: 980px; position: absolute; top: 1px; height: 53px; left: 0px;" class="s1" id="comp-ijfoogy6">
                                <div style="position: absolute; top: 0px; width: calc((100vw - 17px) - 0px); height: 100%; pointer-events: auto; bottom: 0px; left: calc(490px - (((100vw - 17px) - 0px) / 2)); right: calc(490px + (((100vw - 17px) - 0px) / 2)); overflow: hidden; clip: rect(0px 1903px 53px 0px);" class="s1balata" id="comp-ijfoogy6balata">
                                    <div style="position:absolute;width:100%;height:100%;" class="bgColor" id="comp-ijfoogy6balatabgcolor">
                                        <div style="width:100%;height:100%;position:absolute;background-color:transparent;" id="comp-ijfoogy6balatabgcoloroverlay" class="bgColoroverlay">
                                        </div>
                                    </div>
                                </div>
                                <div id="comp-ijfoogy6inlineContent" class="s1inlineContent">
                                    <div style="position: absolute; left: calc((((((100vw - 17px) - 0px) * 0.5) + ((980px - ((100vw - 17px) - 0px)) / 2)) + 0px) + -490px); width: 980px; top: 0px; height: 53px;" class="s1" id="mediaisa0qwll1">
                                        <div style="position: absolute; top: 0px; width: calc((((100vw - 17px) - 0px) * 1) + 1px); height: 100%; pointer-events: auto; left: calc((((((100vw - 17px) - 0px) * 1) - 980px) * -0.5) - 1px); bottom: 0px; overflow: hidden; clip: rect(0px 1904px 53px 0px);" data-enable-video="true" class="s1balata" id="mediaisa0qwll1balata">
                                            <div style="position:absolute;width:100%;height:100%;" class="bgColor" id="mediaisa0qwll1balatabgcolor">
                                                <div style="width:100%;height:100%;position:absolute;background-color:rgba(242, 242, 242, 1);" id="mediaisa0qwll1balatabgcoloroverlay" class="bgColoroverlay"></div>
                                            </div>
                                        </div>
                                        <div style="position:absolute;width:980px;top:0;bottom:0;left:calc((100% - 980px) * 0.5);" id="mediaisa0qwll1inlineContent" class="s1inlineContent">
                                            <div style="left: 840px; width: 128px; position: absolute; top: 17px;" class="s2" id="comp-iiri4qml">
                                                <p class="font_8">Tel: 123-456-7890</p>
                                            </div>
                                            <div style="left: 822px; width: 14px; position: absolute; top: 18px; height: 13px;" class="style-ijforulp1" id="comp-iiri9h41">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3.899993896484375 -2.700000047683716 160.89999389648438 158.90000915527344" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                                    <g>
                                                        <path d="M92.3 116.4c11.4-.3 14.5-13.3 18.9-19.6 4.5-6.3 10.7-6.3 13.9-4.7 2.8 1.4 21.1 14 28.5 25.8 3.4 5.8 2.8 9.6-2.6 14.5-11 9.8-27.2 21.8-31.3 22.8-4.1 1-37.8-.9-80.7-43.8S-.5 39 .4 33.9C.9 27.8 22.1 4.6 22.1 4.6S27-2.7 35.5 1c9.7 4.2 25.4 27.8 25.4 27.8s3.4 5.8-.6 11.7c-3.8 5.8-23.7 10-23.7 20.2S46.8 82 59.4 95.1s21.5 21.6 32.9 21.3z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div style="left: 19px; width: 14px; position: absolute; top: 18px; height: 14px;" class="style-ijfori4f" id="comp-ijfoedbx">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="42.17698669433594 28.26300048828125 251.81602478027344 297.4230041503906" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                                    <g>
                                                        <path d="M168.085 31.832c4.245-.454 45.943-3.569 84.851 43.417 41.057 49.578 3.873 115.419 3.873 115.419l-88.725 135.018-88.723-135.018s-37.184-65.841 3.873-115.419c38.914-46.986 80.606-43.872 84.851-43.417zm47.415 96.445c0-26.184-21.226-47.409-47.414-47.409-26.184 0-47.414 21.226-47.414 47.409 0 26.189 21.231 47.414 47.414 47.414 26.188 0 47.414-21.225 47.414-47.414z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div style="left: 42px; width: 400px; position: absolute; top: 16px;" class="s2" id="comp-ijfoedc4">
                                                <p class="font_8">26 Мира&nbsp;Альметьевск, РТ 410000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="left: 66px; width: 249px; position: absolute; top: 92px;" class="s2" id="comp-iirhu53x">
                                <h1 class="font_0" style="line-height:1em;">
                                    <a href="#" target="_self">Conference&nbsp;<span class="color_28">Hall</span></a>
                                </h1>
                            </div>
                            <div style="left: 68px; width: 227px; position: absolute; top: 126px;" class="s2" id="comp-iirhx7zf">
                                <p class="font_8">
                                    <span class="color_13">
                                        <span style="letter-spacing:0.1em;">
                                            <a href="#" target="_self">Концепция & ИАС</a>
                                        </span>
                                    </span>
                                </p>
                            </div>
                            <div id="comp-iirr2p5c" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" style="left: 322px; width: 659px; position: absolute; top: 101px; height: 37px;" class="s5" data-state="center notMobile" data-dropmode="dropDown">
                                <div style="text-align:right;" id="comp-iirr2p5citemsContainer" class="s5itemsContainer">

                                    <a style="display: inherit; color: grey; width: 126px; height: 37px; position: relative; box-sizing: border-box; overflow: visible;" href="http://editor.wix.com/html/editor/web/renderer/render/document/756bf918-ffa1-4d13-b7f2-0bf439d73944/contact?dsOrigin=Editor1.4&amp;editorSessionId=2C2786AF-F9F5-441C-9E15-9A30C2C96B58&amp;isEdited=true&amp;isSantaEditor=true&amp;lang=en&amp;metaSiteId=9f589e94-8ae1-4a62-807f-a50d6b276635" target="_self" class="s5repeaterButton" data-state="menu  idle link notMobile" id="comp-iirr2p5c4" data-original-gap-between-text-and-btn="11">
                                        <div class="s5repeaterButton_gapper">
                                            <div style="text-align:center;" id="comp-iirr2p5c4bg" class="s5repeaterButtonbg">
                                                <p style="text-align: center; line-height: 37px;" id="comp-iirr2p5c4label" class="s5repeaterButtonlabel">КАБИНЕТ</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a style="display: inline-block; box-sizing: border-box; color: grey; height: 0px; overflow: hidden; position: absolute;" class="s5repeaterButton" id="comp-iirr2p5c__more__">
                                        <div class="s5repeaterButton_gapper">
                                            <div style="text-align:center;" id="comp-iirr2p5c__more__bg" class="s5repeaterButtonbg">
                                                <p style="text-align:center;" id="comp-iirr2p5c__more__label" class="s5repeaterButtonlabel">More</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div id="comp-iirr2p5cmoreButton" class="s5moreButton"></div>
                                <div style="visibility: hidden; left: 0px; right: auto; bottom: auto;" data-drophposition="" data-dropalign="center" id="comp-iirr2p5cdropWrapper" class="s5dropWrapper">
                                    <div style="visibility: hidden; left: 0px; right: auto;" id="comp-iirr2p5cmoreContainer" class="s5moreContainer"></div>
                                </div>
                            </div>
                            <div style="left: 18px; width: 44px; position: absolute; top: 87px; height: 44px;" class="style-imn5j0do" id="comp-imn5ilgh">
                                <a href="№" target="_self">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 82.59000396728516 500.7769775390625 340.7220153808594" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                        <g>
                                            <path d="M489.842 270.768H403.99L373.785 167.95a10.941 10.941 0 0 0-10.622-6.529 10.932 10.932 0 0 0-9.833 7.666L290 362 223.096 91.286a10.934 10.934 0 0 0-10.443-8.601c-5.048-.095-9.519 3.25-11.811 8.135l-73.81 180.948H10.934C4.897 271.768 0 276.664 0 282.703v2.689c0 6.038 4.897 10.935 10.934 10.935h127.438c5.144 0 9.592-3.586 10.685-8.611l61.645-156.771 68.797 282.199c.808 5.931 4.854 9.688 9.832 10.126.323.028.645.042.964.042 4.604 0 8.763-2.902 10.312-8.313L364.3 208.404l20.81 79.815a10.935 10.935 0 0 0 10.242 7.107h93.714c6.038 0 10.935-4.896 10.935-10.935l.776-2.689c-.001-6.038-4.897-10.934-10.935-10.934z"></path>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="SITE_FOOTER" style="position: absolute; width: 980px; left: 0px; height: 100px; bottom: auto; top: 842px;" class="s7_footer s7" data-state=" ">
                    <div id="SITE_FOOTERscreenWidthBackground" class="s7screenWidthBackground" style="width: 1903px; left: -462px;"></div>
                    <div id="SITE_FOOTERcenteredContent" class="s7centeredContent">
                        <div id="SITE_FOOTERbg" class="s7bg"></div>
                        <div id="SITE_FOOTERinlineContent" class="s7inlineContent">
                            <div style="width: 980px; position: absolute; top: 0px; height: 100px; left: 0px;" class="s1" id="comp-iirl2o2f">
                                <div style="position: absolute; top: 0px; width: calc((100vw - 17px) - 0px); height: 100%; pointer-events: auto; bottom: 0px; left: calc(490px - (((100vw - 17px) - 0px) / 2)); right: calc(490px + (((100vw - 17px) - 0px) / 2)); overflow: hidden; clip: rect(0px 1903px 100px 0px);" class="s1balata" id="comp-iirl2o2fbalata">
                                    <div style="position:absolute;width:100%;height:100%;" class="bgColor" id="comp-iirl2o2fbalatabgcolor">
                                        <div style="width:100%;height:100%;position:absolute;background-color:transparent;" id="comp-iirl2o2fbalatabgcoloroverlay" class="bgColoroverlay">
                                        </div>
                                    </div>
                                </div>
                                <div id="comp-iirl2o2finlineContent" class="s1inlineContent">
                                    <div style="position: absolute; left: calc((((((100vw - 17px) - 0px) * 0.5) + ((980px - ((100vw - 17px) - 0px)) / 2)) + 0px) + -490px); width: 980px; top: 0px; height: 100px;" class="s1" id="mediaisa0qwll7">
                                        <div style="position: absolute; top: 0px; width: calc((((100vw - 17px) - 0px) * 1) + 1px); height: 100%; pointer-events: auto; left: calc((((((100vw - 17px) - 0px) * 1) - 980px) * -0.5) - 1px); bottom: 0px; overflow: hidden; clip: rect(0px 1904px 100px 0px);" data-enable-video="true" class="s1balata" id="mediaisa0qwll7balata">
                                            <div style="position:absolute;width:100%;height:100%;" class="bgColor" id="mediaisa0qwll7balatabgcolor">
                                                <div style="width:100%;height:100%;position:absolute;background-color:rgba(109, 204, 163, 1);" id="mediaisa0qwll7balatabgcoloroverlay" class="bgColoroverlay">
                                                </div>
                                            </div>
                                        </div>
                                        <div style="position:absolute;width:980px;top:0;bottom:0;left:calc((100% - 980px) * 0.5);" id="mediaisa0qwll7inlineContent" class="s1inlineContent">
                                            <div style="left: 20px; width: 807px; position: absolute; top: 25px;" class="s2" id="comp-iirm0a5r">
                                                <p class="font_8">
                                                    <span class="color_11">
                                                        © 2017 Aquilon Software Technologies. 
                                                    </span>
                                                </p>
                                            </div>
                                            <div style="width: 107px; left: 853px; position: absolute; top: 34px; height: 29px;" class="s8" id="comp-iirm0a5u">
                                                <div id="comp-iirm0a5uitemsContainer" class="s8itemsContainer">
                                                    <div style="width:29px;height:29px;margin-bottom:0;margin-right:10px;display:inline-block;" class="s8imageItem" id="comp-iirm0a5u0image">
                                                        <a href="https://www.facebook.com/wix" target="_blank" data-content="https://www.facebook.com/wix" data-type="external" id="comp-iirm0a5u0imagelink" class="s8imageItemlink">
                                                            <div id="comp-iirm0a5u0imageimage" style="position: absolute; width: 29px; height: 29px;" data-style="position:absolute" class="s8imageItemimage">
                                                                <div class="s8imageItemimagepreloader" id="comp-iirm0a5u0imageimagepreloader"></div>
                                                                <img id="comp-iirm0a5u0imageimageimage" alt="" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_29,h_29,al_c,usm_0.66_1.00_0.01/23fd2a2be53141ed810f4d3dcdcd01fa.png" style="width: 29px; height: 29px; object-fit: cover;">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div style="width:29px;height:29px;margin-bottom:0;margin-right:10px;display:inline-block;" class="s8imageItem" id="comp-iirm0a5u1image">
                                                        <a href="https://twitter.com/wix" target="_blank" data-content="https://twitter.com/wix" data-type="external" id="comp-iirm0a5u1imagelink" class="s8imageItemlink">
                                                            <div id="comp-iirm0a5u1imageimage" style="position: absolute; width: 29px; height: 29px;" data-style="position:absolute" class="s8imageItemimage">
                                                                <div class="s8imageItemimagepreloader" id="comp-iirm0a5u1imageimagepreloader">                                                                </div>
                                                                <img id="comp-iirm0a5u1imageimageimage" alt="" src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_29,h_29,al_c,usm_0.66_1.00_0.01/01ab6619093f45388d66736ec22e5885.png" style="width: 29px; height: 29px; object-fit: cover;">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div style="width:29px;height:29px;margin-bottom:0;margin-right:10px;display:inline-block;" class="s8imageItem" id="comp-iirm0a5u2image">
                                                        <a href="http://plus.google.com/+Wix/posts" target="_blank" data-content="http://plus.google.com/+Wix/posts" data-type="external" id="comp-iirm0a5u2imagelink" class="s8imageItemlink">
                                                            <div id="comp-iirm0a5u2imageimage" style="position: absolute; width: 29px; height: 29px;" data-style="position:absolute" class="s8imageItemimage">
                                                                <div class="s8imageItemimagepreloader" id="comp-iirm0a5u2imageimagepreloader"></div>
                                                                <img id="comp-iirm0a5u2imageimageimage" alt="" src="https://static.wixstatic.com/media/eb9767422f0e4c41a507d3e67c4ebac8.png/v1/fill/w_29,h_29,al_c,usm_0.66_1.00_0.01/eb9767422f0e4c41a507d3e67c4ebac8.png" style="width: 29px; height: 29px; object-fit: cover;">
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="left: 39px; width: 400px; position: absolute; top: 53px;" class="s2" id="comp-ijfp41ub">
                                                <p class="font_8">
                                                    <span class="color_11">252a Беломорская,&nbsp;Казань, РТ 94158</span>
                                                </p>
                                            </div>
                                            <div style="left: 19px; width: 14px; position: absolute; top: 54px; height: 14px;" class="style-ijfp4hk4" id="comp-ijfp41uk">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="42.17698669433594 28.26300048828125 251.81602478027344 297.4230041503906" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                                    <g>
                                                        <path d="M168.085 31.832c4.245-.454 45.943-3.569 84.851 43.417 41.057 49.578 3.873 115.419 3.873 115.419l-88.725 135.018-88.723-135.018s-37.184-65.841 3.873-115.419c38.914-46.986 80.606-43.872 84.851-43.417zm47.415 96.445c0-26.184-21.226-47.409-47.414-47.409-26.184 0-47.414 21.226-47.414 47.409 0 26.189 21.231 47.414 47.414 47.414 26.188 0 47.414-21.225 47.414-47.414z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div style="left: 401px; width: 14px; position: absolute; top: 55px; height: 13px;" class="style-ijfp4sma" id="comp-ijfp41uk1">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-3.899993896484375 -2.700000047683716 160.89999389648438 158.90000915527344" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                                    <g>
                                                        <path d="M92.3 116.4c11.4-.3 14.5-13.3 18.9-19.6 4.5-6.3 10.7-6.3 13.9-4.7 2.8 1.4 21.1 14 28.5 25.8 3.4 5.8 2.8 9.6-2.6 14.5-11 9.8-27.2 21.8-31.3 22.8-4.1 1-37.8-.9-80.7-43.8S-.5 39 .4 33.9C.9 27.8 22.1 4.6 22.1 4.6S27-2.7 35.5 1c9.7 4.2 25.4 27.8 25.4 27.8s3.4 5.8-.6 11.7c-3.8 5.8-23.7 10-23.7 20.2S46.8 82 59.4 95.1s21.5 21.6 32.9 21.3z"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div style="left: 415px; width: 128px; position: absolute; top: 53px;" class="s2" id="comp-ijfp41uk2">
                                                <p class="font_9" style="font-size:14px;"><span class="color_11"><span style="font-size:14px;">Tel: 123-456-7890</span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="PAGES_CONTAINER" style="position: absolute; top: 186px; height: 1626px; left: 0px;" class="s11">
                    <div id="PAGES_CONTAINERscreenWidthBackground" class="s11screenWidthBackground" style="width: 1903px; left: -462px;"></div>
                    <div id="PAGES_CONTAINERcenteredContent" class="s11centeredContent">
                        <div id="PAGES_CONTAINERbg" class="s11bg"></div>
                        <div id="PAGES_CONTAINERinlineContent" class="s11inlineContent">
                            <div id="SITE_PAGES" style="left: 0; position: absolute; top: 0; height: 1626px;" class="s12">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</div>